.agenda {
  &__header {
    @extend %flex-center;
    @extend %flex-between;

    width: 100%;
    padding: 30px;
    &__title {
      font-size: 100px;
      font-weight: 700;
    }

    &__date {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
    }
  }
  Add commentMore actions &__container {
    @extend %container_main;
    padding: 90px 150px;
  }
}
