.notFound {
  @extend %flex-center;
  @extend %flex-column;

  gap: 25px;
  width: 100%;
  height: 100vh;

  &__home {
    @extend %flex-center;

    background-color: $color_white;
    border-radius: $border_radius_main;
    color: $color_black;
    padding: 5px 25px;
    cursor: pointer;
  }
}
