.burger {
  width: 24px;
  height: 18px;
  display: none;
  cursor: pointer;
  transition: all 0.3s ease;

  &__items {
    background-color: $color_white;

    height: 2px;
    width: 100%;
    display: block;
    transition: all 0.3s ease;
  }

  &--open {
    & > span:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    & > span:nth-child(2) {
      opacity: 0;
    }
    & > span:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  @include max-breakpoint(tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
