.why_attend_item {
  &__item {
    border-radius: $border_radius_main;
    background-color: $color_mainContainer;
    @extend %flex-column;
    gap: 40px;
    padding: 40px 60px;
    overflow: hidden;

    @include max-breakpoint(tablet-s) {
      gap: 20px;
      padding: 30px 20px;
    }

    &__title_block {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      @include max-breakpoint(desktop) {
        justify-content: center;
      }

      &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.3;

        @include max-breakpoint(tablet) {
          font-size: 18px;
        }

        @include max-breakpoint(mobile) {
          font-size: 16px;
        }
      }

      &.reversedTitle {
        justify-content: flex-end;

        @include max-breakpoint(desktop) {
          justify-content: center;
        }
      }
    }

    &__description_block {
      display: flex;
      gap: 80px;
      justify-content: center;
      align-items: center;

      @include max-breakpoint(tablet) {
        gap: 40px;
        flex-wrap: wrap;
      }

      @include max-breakpoint(mobile) {
        gap: 20px;
      }

      &.reversedDescription {
        flex-direction: row-reverse;
      }

      &__description {
        max-width: 240px;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.6;

        @include max-breakpoint(tablet) {
          font-size: 14px;
          max-width: 200px;
        }

        @include max-breakpoint(mobile) {
          font-size: 12px;
          max-width: 160px;
        }
      }
    }

    &__numbers {
      font-size: 280px;
      line-height: 1;
      transform: translateY(-30%);
      padding-right: 10px;

      @include max-breakpoint(desktop) {
        font-size: 220px;
        transform: translateY(-40%);
      }

      @include max-breakpoint(tablet-s) {
        font-size: 150px;
      }

      @include max-breakpoint(mobile) {
        font-size: 100px;
        padding-top: 20px;
      }

      &__number {
        background: $button_color;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
      }
    }
  }
}
