.why_attend_item {
  &__item {
    border-radius: $border_radius_main;
    background-color: $color_mainContainer;
    @extend %flex-column;

    gap: 53px;
    overflow: hidden;
    max-height: 289px;
    position: relative;

    @include max-breakpoint(tablet-s) {
      gap: 23px;
      max-height: 180px;
    }
  }

  &__title_block {
    @extend %flex-start;

    width: 100%;
    height: 50px;
    padding: 40px 0 53px 60px;

    @include max-breakpoint(desktop) {
      display: flex;
      align-items: center;
      padding: 20px 0 0 60px;
      justify-content: center;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;

    @include max-breakpoint(tablet-s) {
      font-size: 15px;
    }
  }

  &__description_block {
    display: flex;
    padding: 0 10px;

    @include max-breakpoint(desktop) {
      gap: 20px;
      align-content: center;
      justify-content: center;
    }

    @include max-breakpoint(tablet) {
      gap: 50px;
    }

    @include max-breakpoint(tablet-s) {
      gap: 15px;
    }

    @include max-breakpoint(mobile) {
      gap: 5px;
    }
  }

  &__description {
    max-height: 120px;
    font-size: 18px;
    max-width: 220px;
    font-weight: 400;
    line-height: 30px;

    @include max-breakpoint(desktop) {
      font-size: 14px;
    }

    @include max-breakpoint(laptop) {
      font-size: 12px;
    }

    @include max-breakpoint(mobile) {
      font-size: 10px;
      max-width: 150px;
      line-height: 20px;
      margin-bottom: 40px;
    }
  }

  &__numbers {
    font-size: 300px;
    padding-right: 20px;
    transform: translateY(-30%);

    @include max-breakpoint(desktop) {
      font-size: 150px;
      transform: translateY(-20%);
    }

    @include max-breakpoint(tablet) {
      font-size: 100px;
    }

    @include max-breakpoint(mobile) {
      font-size: 100px;
      padding-top: 30px;
    }
  }

  &__number {
    color: transparent;
    background-clip: text;
    background: $button_color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &.reversed_title {
    align-items: center;
    justify-content: flex-end;
    padding: 40px 60px 53px 60px;
  }

  &.reversed_description {
    flex-direction: row-reverse;
  }
}
