$color_black: black;
$color_white: white;

$color_main: #2f4563;
$color_light_gray: #f1f2f6;

$color_success: #2ed573;
$color_error: #ff4757;
$color_warning: #ffa502;
$color_info: #1e90ff;

$color_blur: rgba(0, 0, 0, 0.4);

$shadow_black: 0 6px 10px rgba(0, 0, 0, 0.3);
$shadow_overlay: 0 4px 12px rgba(255, 251, 251, 0.751);
