@use './colors' as *;
@use './flexBox' as *;
@use './mixins' as *;

//buttons

%button-main {
  @extend %flex-center;

  gap: 20px;
  font-size: 25px;
  cursor: pointer;
  padding: 22px 50px;
  display: inline-flex;
  border-radius: 100px;
  transition:
    background 0.3s ease,
    color 0.3s ease,
    transform 0.2s;

  @include max-breakpoint(tablet) {
    font-size: 15px;
    gap: 10px;
    padding: 14px 22px;
  }

  @include max-breakpoint(mobile) {
    padding: 10px 18px;
  }

  &:hover {
    transform: scale(1.02);
  }
}

// word breeaking

%word_breaking {
  word-break: break-word;
  overflow-block: hidden;
}

// containers
%container_main {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

//radius

$border_radius_main: 50px;

// font-weights

$weight-standart: 400;
$weight_medium: 500;
$weight-bold: 700;
