@use './colors' as *;
@use './flexBox' as *;
@use './mixins' as *;

//buttons

%button-main {
  @extend %flex-center;

  background: $button_color;
  border-radius: 100px;
  padding: 22px 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 25px;
  line-height: 1;
  width: fit-content;
  gap: 20px;
  transition:
    background 0.3s ease,
    color 0.3s ease,
    transform 0.2s;

  @include max-breakpoint(tablet) {
    font-size: 12px;
    gap: 10px;
    padding: 14px 22px;
  }

  @include max-breakpoint(mobile) {
    padding: 10px 18px;
  }

  &:hover {
    transform: scale(1.02);
  }
}

//radius

$border_radius_main: 50px;

// containers
%container_main {
  background-color: $color_mainContainer;
  border-radius: $border_radius_main;
  max-width: 1240px;
  margin: 0 auto;
}
