.container {
  @extend %container_main;
  background-color: $color_mainContainer;

  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 90px 60px;
  background-size: 35%;
  background-position: 93% 89%;
  background-repeat: no-repeat;
  background-image: url('../../assets/icons/uiDecor_1.svg');

  @include max-breakpoint(desktop) {
    padding: 64px 48px;
  }

  @include max-breakpoint(laptop) {
    padding: 48px 32px;
  }

  @include max-breakpoint(tablet) {
    padding: 10px 14px;
    background-size: 50%;
    background-position: 90% 95%;
  }

  &__dayLocation {
    @extend %flex-between;

    font-size: 22px;
    font-weight: 700;
    line-height: 30px;

    @include max-breakpoint(laptop) {
      font-size: 15px;
    }

    @include max-breakpoint(tablet) {
      font-size: 13px;
      align-items: center;
      text-align: center;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__welcome__text {
    @extend %flex-column;

    gap: 30px;
    max-width: 100%;
    padding-top: 80px;

    @include max-breakpoint(tablet) {
      padding-top: 20px;
    }

    &__h1 {
      font-size: 100px;
      font-weight: 700;
      line-height: 100%;

      @include max-breakpoint(laptop) {
        font-size: 80px;
      }

      @include max-breakpoint(tablet) {
        font-size: 40px;
      }
    }

    &__p {
      font-size: 22px;
      font-weight: 400;
      max-width: 928px;
      line-height: 30px;
      letter-spacing: 0%;

      @include max-breakpoint(laptop) {
        font-size: 12px;
      }
    }
  }

  &__button__block {
    width: 100%;
    padding-top: 110px;

    @include max-breakpoint(tablet) {
      padding: 40px 16px;
    }
  }
}
