.feature__cards {
  @extend %container_main;

  background-color: $color_black;

  gap: 20px;
  display: grid;
  grid-template-areas:
    'speakers technologies'
    'speakers networking';
  padding: 50px 70px 0 70px;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;

  @include max-breakpoint(desktop) {
    gap: 15px;
    padding: 30px 40px;
  }

  @include max-breakpoint(tablet) {
    gap: 20px;
    padding: 20px;
    grid-template-areas:
      'speakers'
      'technologies'
      'networking';
    grid-template-columns: 1fr;
  }

  @include max-breakpoint(mobile) {
    gap: 16px;
    padding: 16px;
  }

  &__speakers,
  &__technologies,
  &__networking {
    width: 100%;
    box-sizing: border-box;
  }

  &__speakers {
    @extend %flex-column;
    @extend %flex-between;

    color: $color_white;
    border-radius: $border_radius_main;
    background: $color_secondContainer;

    font-size: 40px;
    font-weight: 700;
    padding: 60px 50px;
    grid-area: speakers;

    @include max-breakpoint(desktop) {
      padding: 30px 20px;
    }

    @include max-breakpoint(mobile) {
      padding: 20px;
    }

    &__header {
      @extend %flex-between;
      @extend %flex-center;

      @include max-breakpoint(laptop) {
        justify-content: center;
      }

      &__title {
        font-size: 40px;
        font-weight: 700;

        @include max-breakpoint(laptop) {
          font-size: 28px;
          text-align: center;
        }

        @include max-breakpoint(mobile) {
          font-size: 20px;
        }
      }
    }

    &__icon {
      @extend %flex-center;

      background: $color_white;

      width: 65px;
      height: 65px;
      font-size: 28px;
      border-radius: 50%;

      @include max-breakpoint(mobile) {
        width: 50px;
        height: 50px;
        font-size: 20px;
      }
    }

    &__description {
      gap: 53px;
      display: flex;
      padding-top: 45px;

      @include max-breakpoint(desktop) {
        gap: 30px;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }

      &__title {
        width: 100%;
        font-size: 20px;
        max-width: 300px;
        line-height: 30px;
        font-weight: 400;

        @include max-breakpoint(desktop) {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }

    &__footer {
      @extend %flex-center;
      @extend %flex-between;

      gap: 32px;
      padding-top: 170px;
      align-items: center;

      @include max-breakpoint(desktop) {
        gap: 20px;
        padding-top: 10px;
        flex-direction: column;
      }
    }

    &__footer__avatars {
      display: flex;

      &__item {
        width: 74px;
        height: 74px;
        flex-shrink: 0;
        overflow: hidden;
        border-radius: 50%;
        margin-right: -40px;

        @include max-breakpoint(desktop) {
          width: 48px;
          height: 48px;
          margin-right: -20px;
        }

        &__svg {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }

    &__footer__moreBtn {
      border: 1px solid $color_white;
      color: $color_white;

      gap: 8px;
      display: flex;
      cursor: pointer;
      font-size: 25px;
      font-weight: 500;
      align-items: center;
      padding: 22px 31px;
      border-radius: 999px;
      background: transparent;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }

      @include max-breakpoint(desktop) {
        font-size: 18px;
        padding: 10px 20px;
      }
    }
  }

  &__technologies {
    color: $color_white;
    background: $color_secondContainer;

    padding: 50px 35px;
    border-radius: 32px;
    grid-area: technologies;

    @include max-breakpoint(desktop) {
      padding: 30px 20px;
    }

    @include max-breakpoint(mobile) {
      padding: 20px;
    }

    &__wrapper {
      &__title {
        font-size: 40px;
        font-weight: 700;

        @include max-breakpoint(desktop) {
          font-size: 28px;
          text-align: center;
          margin-bottom: 35px;
        }

        @include max-breakpoint(mobile) {
          font-size: 18px;
        }
      }

      &__description {
        font-size: 20px;
        line-height: 1.5;

        @include max-breakpoint(desktop) {
          text-align: center;
        }

        @include max-breakpoint(laptop) {
          font-size: 16px;
        }

        @include max-breakpoint(mobile) {
          font-size: 14px;
        }
      }
    }
  }

  &__networking {
    background: $color_light_gray;

    color: $color_black;
    padding: 60px 50px;
    border-radius: 40px;
    grid-area: networking;

    @include max-breakpoint(desktop) {
      padding: 30px 20px;
    }

    @include max-breakpoint(mobile) {
      padding: 20px;
    }

    &__wrapper {
      @extend %flex-center;
      @extend %flex-column;

      color: $color_black;

      gap: 35px;
      margin-bottom: 16px;

      &__title {
        color: $color_black;

        font-size: 33px;
        font-weight: 700;
        line-height: 100%;

        @include max-breakpoint(desktop) {
          font-size: 24px;
          text-align: center;
        }

        @include max-breakpoint(mobile) {
          font-size: 18px;
        }
      }

      &__description {
        color: $color_black;

        font-size: 20px;
        font-weight: 400;
        line-height: 30px;

        @include max-breakpoint(desktop) {
          text-align: center;
        }

        @include max-breakpoint(mobile) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }

  &__icon {
    @extend %flex-center;
    background: $color_white;

    width: 48px;
    height: 48px;
    font-size: 24px;
    border-radius: 50%;
  }
}
