.speakers {
  @extend %container_main;

  &__items {
    height: auto;
    display: grid;
    min-width: 100%;
    margin-top: 110px;
    grid-template-columns: repeat(2, 1fr);

    @include max-breakpoint(laptop) {
      gap: 50px;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
    }

    @include max-breakpoint(mobile) {
      flex-direction: column;
    }
  }

  &__button {
    margin-top: 40px;
    padding: 22px 50px 22px 50px;
  }
}
