.description {
  background-color: $color_light-gray;
  border-radius: $border_radius_main;

  position: relative;
  box-sizing: border-box;
  padding: 50px 40px 40px;

  @include max-breakpoint(desktop) {
    padding: 30px 24px 24px;
  }

  @include max-breakpoint(tablet) {
    padding: 24px;
  }

  @include max-breakpoint(mobile) {
    padding: 111px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__wrapper {
    @extend %flex-column;

    height: 100%;
    justify-content: space-between;

    @include max-breakpoint(mobile) {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    &__name {
      @extend %word_breaking;
      color: $color_black;
      font-weight: $weight-semibold;

      font-size: 30px;
      min-width: 215px;

      @include max-breakpoint(desktop) {
        width: 100px;
        min-width: 150px;
        max-width: 180px;
        font-size: 20px;
      }
      @include max-breakpoint(tablet) {
        font-size: 20px;
        max-width: 100%;
      }

      @include max-breakpoint(mobile) {
        max-width: 100px;
      }
    }

    &__profession {
      color: $color_black;
      font-weight: $weight-standart;

      font-size: 20px;
      cursor: default;
      min-height: 60px;
      max-width: 215px;
      overflow: hidden;
      line-height: 30px;
      white-space: nowrap;
      @extend %word_breaking;
      text-overflow: ellipsis;

      @include max-breakpoint(laptop) {
        max-width: 180px;
      }

      @include max-breakpoint(desktop) {
        max-width: 150px;
      }

      @include max-breakpoint(tablet) {
        max-width: 100%;
        font-size: 12px;
        line-height: 24px;
      }

      @include max-breakpoint(mobile) {
        min-height: none;
        max-width: 100px;
      }
    }
  }
}
